doctype html
html(lang="en")
  head
    //- pug 才能用 include，有先後順序
    include includes/_config.pug
    include includes/_head.pug
    
    //- 網頁描述
    meta(property="og:description" content=description)
    meta(name="description" content=description)
    meta(property="og:title" content=title)
    title #{title}
  body
    include includes/_navbar.pug

    header.l-header(data-aos="fade")
      .swiper.l-header__swiper
        .swiper-wrapper
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img01.jpg" alt=title)
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img02.jpg" alt=title)
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img03.jpg" alt=title)

    section.l-lineup.u-gradient
      .container
        .u-mb-100(data-aos="fade-right")
          h2.u-title-xl.u-color-secondary LINEUP
            span.u-text-lg MEGAPORT FESTIVAL
        .row.--grid.l-lineup__box.js-parallax(data-input-element=".l-lineup__box")
          .col-sm-5.l-lineup__wrap(data-depth="0.1")
            article.l-lineup__artist(data-aos="fade-up")
              a(href="##")
                h3.u-title-md.u-mb-10 9m88
                .l-lineup__img-mask
                  img.u-object-fit.--abs(src="img/news/news01.jpg", alt="大港開唱藝人名單")
          .col-sm-7.l-lineup__wrap(data-depth="-0.1")
            article.l-lineup__artist.--img-lg(data-aos="fade-up")
              a(href="##")
                h3.u-title-md.u-mb-10 恆月三途
                .l-lineup__img-mask
                  img.u-object-fit.--abs(src="img/lineup/lineup02.jpg", alt="大港開唱藝人名單")
          .col-lg-4.col-sm-7.l-lineup__wrap(data-depth="-0.2")
            article.l-lineup__artist.--img-lg(data-aos="fade-up")
              a(href="##")
                .l-lineup__img-mask
                  img.u-object-fit.--abs(src="img/lineup/lineup03.jpg", alt="大港開唱藝人名單")
                h3.u-title-md.u-mt-10 Beyound Cure
          .col-lg-4.col-sm-5.l-lineup__wrap(data-depth="0.2")
            article.l-lineup__artist(data-aos="fade-up")
              a(href="##")
                .l-lineup__img-mask
                  img.u-object-fit.--abs(src="img/lineup/lineup04.jpg", alt="大港開唱藝人名單")
                h3.u-title-md.u-mt-10 Dudu King
          .col-lg-4.col-sm-5.offset-lg-0.offset-sm-4.l-lineup__wrap(data-depth="-0.2")
            article.l-lineup__artist(data-aos="fade-up")
              a(href="##")
                .l-lineup__img-mask
                  img.u-object-fit.--abs(src="img/lineup/lineup05.jpg", alt="大港開唱藝人名單")
                h3.u-title-md.u-mt-10 Da Wang
          
    section.l-news
      .l-news__btn-swiper.--prev
        i.fas.fa-arrow-left
      .l-news__btn-swiper.--next
        i.fas.fa-arrow-right

      .container
        .u-mb-100.u-text-center(data-aos="fade-up")
          h2.u-title-xl.u-color-secondary NEWS123123
            span.u-text-lg MEGAPORT FESTIVAL

        .swiper.l-news__swiper
          .swiper-wrapper
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.04.12
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news01.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 大港 防疫公告！
                    p 【入場需先填寫 Line 實聯制問卷才能兌換手環】 如何填寫實聯制...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.05.10
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news02.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 金牌台啤x大港開唱 聯名限定上市
                    p Untitled Document 為在地音樂乾一杯！ 金牌台啤x大港開唱聯名啤酒限定上市 高雄最具代表性的大型音樂...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.05.24
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news03.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 大港開唱 x MegaFun
                    p ✧ 好耍 ✧趣味 ✧足歡喜 大港娛樂特區MegaFun全方位手冊 . ** MEGADIVE 孤枝大夫 ** 輕鬆享受人體衝浪支...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.06.17
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news04.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 大港帥口罩
                    p 想要這個大港口罩嗎？填寫實聯制問卷就送給你 #只送不賣 #有大港單雙日票券者才可兌換...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.06.22
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news05.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 官方周邊 正式公佈！
                    p 敲破碗的大港周邊這不就來了嗎 . 定番款大港毛巾必收 漁夫帽門簾與工作衫首次登場 超搶眼...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE
            .swiper-slide.l-news__swiper-slide
              article.c-card
                span.u-text-lg.u-fw-900.c-card__date 2021.07.10
                .c-card__wrap
                  a.c-card__img-mask(href="##")
                    img.u-object-fit.--abs(src="img/news/news06.jpg", alt="大港開唱最新消息")
                  .u-mt-30.u-mb-30
                    h3.u-text-md.u-mb-10 大港線上直播 來囉！
                    p 沒買到大港票的朋朋，線上直播來啦 . 大港開唱與LINE TODAY獨家合作 #南霸天、 #女神龍...
                  .o-btn.--right.u-mt-auto
                    a.o-btn__link(href="##") MORE


    include includes/_footer.pug

    script(src="js/swiper-bundle.min.js")
    include includes/_scripts.pug